#* ID'S

# Bot Client ID
CLIENTID = 

# Guild ID
GUILD = 

# Verification Channel ID
VERIFICATION_CHANNEL = 

# Normas/Terminos Channel ID
TERMS_CHANNEL =


#* Credentials

# Discord Bot Token
TOKEN = 

# MongoDB local (Docker Compose)
MONGODB_URI = mongodb://mongo_db:27017/Database

# MongoDB Atlas (solo si usas conexion-atlas.js)
MONGODB_USER = 
MONGODB_PASSWD = 
