#* ID'S

# Bot Client ID
CLIENTID = <ID del Bot>

# Guild ID
GUILD = <ID del servidor Principal>

# Verification Channel ID
VERIFICATION_CHANNEL = <ID del canal de Verificacion>

# Normas/Terminos Channel ID
TERMS_CHANNEL = <ID del canal de Reglas>


#* Credentials

# Discord Bot Token
TOKEN = "<Token del Bot>"

# MongoDB local (Docker Compose)
MONGODB_URI = mongodb://mongo_db:27017/Database

# MongoDB Atlas (solo si usas conexion-atlas.js)
MONGODB_USER = ""
MONGODB_PASSWD = ""
