#* ID'S
# Bot Client ID
CLIENTID = 

# Guild ID
GUILD = 

# Verification Channel ID
VERIFICATION_CHANNEL = 

# Normas/Terminos Channel ID
TERMS_CHANNEL =


#* Credentials
# Discord Bot Token
TOKEN = 

# OpenAI API Key
OPENAI_API_KEY = 

# MongoDB
MONGODB_USER = 
MONGODB_PASSWD = 
