# Binaries
*.txt
*.env
banners.json
missions.js
bannedsongs.js
shopitems.js
*asd.js
*dsa.js
embed.js
testimages.js
iFrame.js
spritesheet.js
createfile.js
createEmbed.js
genderMe.js
giverole.js
uploadfile.js
gacha.js
poll-schema.js
gacha-schema.js
testimages.js

# Directories
Templates/
node_modules/
ffmpeg/
openai/
hacking/
Database/
.vscode/settings.json