# Binaries
*.txt
*.env
verification_message_id.json
banners.json
missions.js
bannedsongs.js
*asd.js
*dsa.js
embed.js
testimages.js
iFrame.js
spritesheet.js
createfile.js
createEmbed.js
genderMe.js
giverole.js
uploadfile.js
gacha.js
testimages.js
pwned.js

# Directories
Templates/
node_modules/
ffmpeg/
openai/
hacking/
Database/
.vscode/settings.json
Schema/gacha-schema.js
Schema/poll-schema.js